.active {
    transition: transform .15s ease-out;
}

.active:active {
    transform: scale(.95);
}

.lineContainer { // Landing page RGB random color line
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    &__line {
        display: block;
        height: 19.5rem;
        margin-bottom: 6.5rem;
        border: 1.9px solid rgba(255, 255, 255, 0.5);
    }
}

.githubLink { // Github
    cursor: pointer;
}

.linked-inLink { // Linked-in
    cursor: pointer;
    min-height: 32px;    
}

.linked-inLink, // Links trans
.githubLink {
    transition: transform .25s ease-out;
}

.githubLink:hover,
.linked-inLink:hover,
.githubLink:focus,
.linked-inLink:focus {
    transform: rotate(15deg);
    filter: brightness(150%);
}

.githubLink:active,
.linked-inLink:active {
    transform: scale(.95);
    transform: rotate(-360deg);
}

.emailWrapperMobile {
    display: none;
}

.emailRe-direct { // Email
    display: inline;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.emailRe-direct:after { // Email animation
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 2px;
    background: #fdfdfd;
    height: 1px;
    transition-property: left right;
    transition-duration: .75s;
    transition-timing-function: ease-in-out;
    z-index: 100;
}

.emailRe-direct:hover:after,
.emailRe-direct:focus:after,
.emailRe-direct:active:after {
    right: 0;
}

.projectsWrapper { // Landing page right col projects wrap
    min-height: 450px;
    min-width: 585px;
    transition: all ease-in-out .75s;
}

.projectsWrapper:hover {
    transform: scale(1.20);
    z-index: 100;
}

.projectsWrapper:nth-child(2) {
    margin-left: 4rem;
    margin-right: 4rem; 
}

.projectsWrapper > img {
    margin-right: 4rem;
}

.dine,
.photosnap,
.nike { // projects
    filter: saturate(135%);
    max-height: 450px;
    max-width: 585px;
    display: block;
}

.photosnap.active,
.dine.active,
.nike.active {
    display: none;
}

//Hover on projects

.hoverLine,
.flexWrapperRow { // Projects links
    display: none;
}

.flexWrapperRow > a:nth-child(1) {
    margin-right: 3rem;
}

//Photosnap

.photosnapBackground.active {
    background: rgba(245, 4, 4, 0.85);

    background: linear-gradient(rgba(245, 4, 4, 0.85),rgb(255, 2, 2));

    background: -webkit-linear-gradient(rgba(245, 4, 4, 0.85),rgb(255, 2, 2));

    background: -moz-linear-gradient(rgba(245, 4, 4, 0.85),rgb(255, 2, 2));

    transition: all ease-in-out .75s;
}

.projectTitlePhotosnap.active {
    @include projectsHoverTitle();
    right: 5rem;
}

.hoverLinePhotosnap.active {
    @include projectsHoverLine();
}

.flexWrapperRowPhotosnap.active {
    @include projectsWrapperRow();
}

//Dine 

.dineBackground.active {
    background: rgb(22, 136, 241);

    background: linear-gradient(rgba(22, 135, 241, 0.85), rgb(0, 132, 255));

    background: -webkit-linear-gradient(rgba(22, 135, 241, 0.85), rgb(0, 132, 255));

    background: -moz-linear-gradient(rgba(22, 135, 241, 0.85), rgb(0, 132, 255));

    transition: all ease-in-out .75s;
}

.projectTitleDine.active {
    @include projectsHoverTitle();
    right: 8rem;
}

.hoverLineDine.active {
    @include projectsHoverLine();
}

.flexWrapperRowDine.active {
    @include projectsWrapperRow();
}

//Nike

.nikeBackground.active {
    background: rgb(242, 13, 137);

    background: linear-gradient(rgba(242, 13, 135, 0.85), rgb(255, 1, 137));
    
    background: -webkit-linear-gradient(rgba(242, 13, 135, 0.85), rgb(255, 1, 137));

    background: -moz-linear-gradient(rgba(242, 13, 135, 0.85), rgb(255, 1, 137));

    transition: all ease-in-out .75s;
}

.projectTitleNike.active {
    @include projectsHoverTitle();
    right: 8rem;
}

.hoverLineNike.active {
    @include projectsHoverLine();
}

.flexWrapperRowNike.active {
    @include projectsWrapperRow();
}

// Contact section submit button
.btnWrapper {
    position: relative;
    width: 11rem;
    margin: 0 auto 0 auto;
    margin-top: 5rem;
    z-index: 1;

    &__btn {
        cursor: pointer;
        display: block;
        height: 3.5rem;
        width: 11rem;
        background: #090909;
        z-index: 1;
    }
}

.btnWrapper__btn:after {
    display: block;
    position: absolute;
    top: .36rem;
    left: .5rem;
    content: '';
    background: #1688f1;
    height: 3.5rem;
    width: 11rem;
    z-index: -1;
}

.btnWrapper__btn:hover {
    transform: scale(.95);
}

.btnWrapper__btn:active,
.btnWrapper__btn:focus {
    transform: scale(.90);
} 