.active {
    transition: transform .15s ease-out;
}

.active:active {
    transform: scale(.95);
}
// Landing page RGB random color line
.lineContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    &__line {
        display: block;
        height: 19.5rem;
        margin-bottom: 6.5rem;
        border: 1.9px solid rgba(255, 255, 255, 0.5);
    }
}

.githubLink { // Github icon
    cursor: pointer;
}

.linked-inLink { // Linked-in icon
    cursor: pointer;
    min-height: 32px;    
}

.linked-inLink, // Icon transition
.githubLink {
    transition: transform .25s ease-out;
}
// Landing page icons
.githubLink:hover,
.linked-inLink:hover,
.githubLink:focus,
.linked-inLink:focus {
    transform: rotate(15deg);
    filter: brightness(150%);
}
// Icons animation
.githubLink:active,
.linked-inLink:active {
    transform: scale(.95);
    transform: rotate(-360deg);
}

.emailWrapperMobile {
    display: none;
}
// Initial
.emailRe-direct,
.linked-in,
.resumeLink {
    display: inline;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform .25s ease-out;
}
// Animation
.emailRe-direct:after,
.linked-in:after,
.resumeLink:after { 
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 2px;
    background: #fdfdfd;
    height: 1px;
    transition-property: left right;
    transition-duration: .75s;
    transition-timing-function: ease-in-out;
    z-index: 100;
}
// Email
.emailRe-direct:hover:after,
.emailRe-direct:focus:after,
.emailRe-direct:active:after {
    right: 0;
}
// Linked in
.linked-in:hover:after,
.linked-in:focus:after,
.linked-in:active:after {
    right: 0;
}
// Resume
.resumeLink:hover:after,
.resumeLink:focus:after,
.resumeLink:active:after {
    right: 0;
}
// Landing page right col projects wrap
.projectsWrapper { 
    min-height: 450px;
    min-width: 585px;
    transition: all ease-in-out .75s;
}

.projectsWrapper:hover {
    transform: scale(1.15);
    z-index: 100;
}

.projectsWrapper:nth-child(2) {
    margin-left: 4rem;
    margin-right: 4rem; 
}

.projectsWrapper:nth-child(3) {
    margin-right: 4rem;
}

.projectsWrapper > img {
    margin-right: 4rem;
}
// projects
.dine,
.photosnap,
.nike { 
    filter: saturate(135%);
    max-height: 450px;
    max-width: 585px;
    display: block;
}

.photosnap.active,
.dine.active,
.nike.active {
    display: none;
}

//Hover on projects

.hoverLine,
.flexWrapperRow { // Projects links
    display: none;
}

.flexWrapperRow > a:nth-child(1) {
    margin-right: 3rem;
}

//Photosnap

.photosnapBackground.active {
    background: rgba(245, 4, 4, 0.851);
    background: (to right, rgb(9, 9, 9) 0%, rgba(245, 4, 4, 0.851) 100%);

    background: linear-gradient(to right, rgb(9, 9, 9) 0%, rgba(245, 4, 4, 0.851) 100%);

    background: -webkit-linear-gradient(to right, rgb(9, 9, 9) 0%, rgba(245, 4, 4, 0.851) 100%);

    background: -moz-linear-gradient(to right, rgb(9, 9, 9) 0%, rgba(245, 4, 4, 0.851) 100%);
        
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all ease-in-out .80s;
}

.photosnapBackground.active:hover {
    background-position: right bottom;
}

.projectTitlePhotosnap.active {
    @include projectsHoverTitle();
    right: 6rem;
}

.hoverLinePhotosnap.active {
    @include projectsHoverLine();
    opacity: 1;
}

.flexWrapperRowPhotosnap.active {
    @include projectsWrapperRow();
}

//Dine 

.dineBackground.active {
    background: rgb(22, 136, 241);
    background: (to right, rgb(9, 9, 9) 0%, rgb(22, 136, 241) 100%);

    background: linear-gradient(to right, rgb(9, 9, 9) 0%, rgb(22, 136, 241) 100%);

    background: -webkit-linear-gradient(to right, rgb(9, 9, 9) 0%, rgb(22, 136, 241) 100%);

    background: -moz-linear-gradient(to right, rgb(9, 9, 9) 0%, rgb(22, 136, 241) 100%);

    background-size: 200% 100%;
    background-position: left bottom;
    transition: all ease-in-out .80s;
}

.dineBackground.active:hover {
    background-position: right bottom;
}

.projectTitleDine.active {
    @include projectsHoverTitle();
    right: 16rem;
}

.hoverLineDine.active {
    @include projectsHoverLine();
}

.flexWrapperRowDine.active {
    @include projectsWrapperRow();
}

//Nike

.nikeBackground.active {
    background: rgb(242, 13, 137);
    background: (to right, rgb(9, 9, 9) 0%, rgb(242, 13, 137) 100%);

    background: linear-gradient(to right, rgb(9, 9, 9) 0%, rgb(242, 13, 137) 100%);
    
    background: -webkit-linear-gradient(to right, rgb(9, 9, 9) 0%, rgb(242, 13, 137) 100%);

    background: -moz-linear-gradient(to right, rgb(9, 9, 9) 0%, rgb(242, 13, 137) 100%);

    background-size: 200% 100%;
    background-position: left bottom;
    transition: all ease-in-out .80s;
}

.nikeBackground.active:hover {
    background-position: right bottom;
}

.projectTitleNike.active {
    @include projectsHoverTitle();
    right: 16rem;
}

.hoverLineNike.active {
    @include projectsHoverLine();
}

.flexWrapperRowNike.active {
    @include projectsWrapperRow();
}

// Slider buttons for projects
.sliderBtnsWrap {
    grid-row: 3 / 4;
    grid-column: 11 / -1;
    display: grid;
    grid-template-columns: [full-start] repeat(21, [col-start] minmax(4.40rem, 4.60rem) [col-end]) [full-end];
    grid-template-rows: minmax(auto, 10vh);
}

.sliderBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 28rem;
    grid-column: 13 / 20;
    margin-left: 3.5rem;
    // grid-column: 16 / 19;

    &__btn {
        cursor: pointer;
        height: 25px;
        width: 25px;
        background: #fdfdfd;
        border-radius: 50%;
        transition: opacity 0.5s ease;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;
        color: #000;
        font-size: 2rem;
    }    
}

.sliderBtns__btn:hover {
    opacity: 50%;
}

// Contact section submit button
.btnWrapper {
    position: relative;
    width: 11rem;
    margin: 0 auto 0 auto;
    margin-top: 5rem;
    z-index: 1;

    &__btn {
        cursor: pointer;
        display: block;
        height: 3.5rem;
        width: 11rem;
        background: #090909;
        z-index: 1;
    }
}

.btnWrapper__btn:after {
    display: block;
    position: absolute;
    top: .36rem;
    left: .5rem;
    content: '';
    background: #1688f1;
    height: 3.5rem;
    width: 11rem;
    z-index: -1;
}

.btnWrapper__btn:hover {
    transform: scale(.95);
}

.btnWrapper__btn:active,
.btnWrapper__btn:focus {
    transform: scale(.90);
} 