.lineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    &__line {
        display: block;
        height: 19.5rem;
        margin-bottom: 6.5rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}

.projectsWrapper {
    min-height: 450px;
    min-width: 585px;
    transition: all ease-in-out .75s;
}

.projectsWrapper:hover {
    transform: scale(1.20);
    z-index: 100;
}

.projectsWrapper:nth-child(1) {
    margin-left: 6rem;
    margin-right: 4rem;
}

.dine {
    margin-right: 4rem;
}

.dine,
.photosnap {
    filter: saturate(135%);
    max-height: 450px;
    max-width: 585px;
}

.photosnap.active,
.dine.active,
.nike.active {
    display: none;
}

//Hover on projects

.hoverLine,
.flexWrapperRow,
.flexWrapperCol {
    display: none;
}

//Photosnap

.photosnapBackground.active {
    background: linear-gradient(
        rgba(238, 41, 110, 0.89),
        rgba(44, 18, 71, 1.0)
      ),
      url("../assets/desktop/photosnap-desktop.png");
      transition: all ease-in-out .75s;
}

.projectTitlePhotosnap.active {
    @include projectsHoverTitle();
    right: 5rem;
}

.hoverLinePhotosnap.active {
    @include projectsHoverLine();
}

.flexWrapperRowPhotosnap.active {
    @include projectsWrapperRow();
}

.flexWrapperColPhotosnap.active {
    @include projectsWrapperCol();
}

//Dine 

.dineBackground.active {
    background: linear-gradient(
        rgba(206, 108, 78, 0.89),
        rgba(215, 154, 110, 1.0)
      ),
      url("../assets/desktop/dine-desktop.png");
      transition: all ease-in-out .75s;
}

.projectTitleDine.active {
    @include projectsHoverTitle();
    right: 8rem;
}

.hoverLineDine.active {
    @include projectsHoverLine();
}

.flexWrapperRowDine.active {
    @include projectsWrapperRow();
}

.flexWrapperColDine.active {
    @include projectsWrapperCol();
}



