.lineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    &__line {
        display: block;
        height: 19.5rem;
        margin-bottom: 6.5rem;
        border: 1.9px solid rgba(255, 255, 255, 0.5);
    }
}

.githubLink {
    cursor: pointer;
}

.linked-inLink {
    cursor: pointer;
    min-height: 32px;    
}

.emailRe-direct {
    cursor: pointer;
}

.projectsWrapper {
    min-height: 450px;
    min-width: 585px;
    transition: all ease-in-out .75s;
}

.projectsWrapper:hover {
    transform: scale(1.20);
    z-index: 100;
}

.projectsWrapper:nth-child(2) {
    margin-left: 4rem;
    margin-right: 4rem;
}

.projectsWrapper > img {
    margin-right: 4rem;
}

.dine,
.photosnap,
.nike {
    filter: saturate(135%);
    max-height: 450px;
    max-width: 585px;
}

.photosnap.active,
.dine.active,
.nike.active {
    display: none;
}

//Hover on projects

.hoverLine,
.flexWrapperRow,
.flexWrapperCol {
    display: none;
}

//Photosnap

.photosnapBackground.active {
    background: rgba(238, 41, 110, 0.89),
    url("../assets/desktop/photosnap-desktop.png");

    background: linear-gradient(rgba(238, 41, 110, 0.89),rgba(44, 18, 71, 1.0)),
    url("../assets/desktop/photosnap-desktop.png");

    background: -webkit-linear-gradient(rgba(238, 41, 110, 0.89),rgba(44, 18, 71, 1.0)),
    url("../assets/desktop/photosnap-desktop.png");

    background: -moz-linear-gradient(rgba(238, 41, 110, 0.89),rgba(44, 18, 71, 1.0)),
    url("../assets/desktop/photosnap-desktop.png");

    transition: all ease-in-out .75s;
}

.projectTitlePhotosnap.active {
    @include projectsHoverTitle();
    right: 5rem;
}

.hoverLinePhotosnap.active {
    @include projectsHoverLine();
}

.flexWrapperRowPhotosnap.active {
    @include projectsWrapperRow();
}

.flexWrapperColPhotosnap.active {
    @include projectsWrapperCol();
}

//Dine 

.dineBackground.active {
    background: rgba(42, 131, 156, 0.89),
    url("../assets/desktop/dine-desktop.png");

    background: linear-gradient(rgba(42, 131, 156, 0.89),rgba(178, 23, 150, 1.0)),
    url("../assets/desktop/dine-desktop.png");
    
    background: -webkit-linear-gradient(rgba(42, 131, 156, 0.89), rgba(178, 23, 150, 1.0)),
    url("../assets/desktop/dine-desktop.png");

    background: -moz-linear-gradient(rgba(42, 131, 156, 0.89), rgba(178, 23, 150, 1.0)),
    url("../assets/desktop/dine-desktop.png");

    transition: all ease-in-out .75s;
}

.projectTitleDine.active {
    @include projectsHoverTitle();
    right: 8rem;
}

.hoverLineDine.active {
    @include projectsHoverLine();
}

.flexWrapperRowDine.active {
    @include projectsWrapperRow();
}

.flexWrapperColDine.active {
    @include projectsWrapperCol();
}

// Nike

.nikeBackground.active {
    background: rgba(5, 68, 131, 0.89),
    url("../assets/desktop/nike-desktop.png");

    background: linear-gradient(rgba(5, 68, 131, 0.89)rgba(211, 93, 184, 1.0)),
    url("../assets/desktop/nike-desktop.png");
    
    background: -webkit-linear-gradient(rgba(5, 68, 131, 0.89), rgba(211, 93, 184, 1.0)),
    url("../assets/desktop/nike-desktop.png");

    background: -moz-linear-gradient(rgba(5, 68, 131, 0.89), rgba(211, 93, 184, 1.0)),
    url("../assets/desktop/nike-desktop.png");

    transition: all ease-in-out .75s;
}

.projectTitleNike.active {
    @include projectsHoverTitle();
    right: 8rem;
}

.hoverLineNike.active {
    @include projectsHoverLine();
}

.flexWrapperRowNike.active {
    @include projectsWrapperRow();
}

.flexWrapperColNike.active {
    @include projectsWrapperCol();
}

.flexWrapperColNike.active:nth-child(1) {
    margin-right: 4rem;
}


