// Projects Hover
@mixin projectsHoverTitle {
    position: absolute;
    top: 20rem;
    z-index: 500;
}

@mixin projectsHoverLine {
    display: block;
    height: .75rem;
    width: 25rem;
    background-color: #ffffff;
    z-index: 500;
    position: absolute;
    top: 27rem;
    right: -2rem;
}

@mixin projectsWrapperRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 500;
    margin-top: 35rem;
}

@mixin projectsWrapperCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 500;
}