// Projects Hover
@mixin projectsHoverTitle {
    position: absolute;
    top: 20rem;
    z-index: 500;
}

@mixin projectsHoverLine {
    display: block;
    height: .15rem;
    width: 25rem;
    background-color: #ffffff;
    z-index: 500;
    position: absolute;
    top: 28rem;
    right: -2rem;
}

@mixin projectsWrapperRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 500;
    margin-top: 35rem;
}