:root {
    //BACKGROUNDS
        --color-background-white: #FDFDFD;
        --color-background-black: #090909;
        --color-background-radial-blk: repeating-radial-gradient(79.6% 79.6% at 0% 20.4%, #080808 0%, #080808e3 100%);
        // --color-background-radial-blk: radial-gradient(circle, #080808 0%, #000000ea 100%); 
        --color-background-radial-blk: radial-gradient(76% 76% at 2% 10%, #080808e3 28%, #1b1b1be3 87%, #181818 100%, #090909 100%), #090909;
        --color-background-radial-blk-mobile: radial-gradient(76% 76% at 25% 65%, #080808e3 28%, #1b1b1be3 87%, #181818 100%, #090909 100%), #090909;
        --color-background-pink: #F20D89;
        --color-background-blue: #1688f1;
  
    //TEXT
        --color-text-white: #FDFDFD;
        --color-text-grey: #CDCDCD;
        --color-text-black: #090909;
    
    //BUTTONS
        --color-background-btnblack: #000000;
        --color-background-btnwhite: #FFFFFF;
        --color-text-btnwhite: #FFFFFF;
        --color-text-btnblack: #000000;
    }


     // --color-background-radial-blk: radial-gradient(76% 76% at 30% 25%, #080808e3 28%, #1b1b1be3 87%, #181818 100%, #090909 100%), #090909;

            // --color-background-radial-blk: radial-gradient(70% 80% at 1% 100%, #080808e3 0%, #1b1b1be3 100%, #090909 100%), #090909;
            // --color-background-radial-blk:  radial-gradient(31.66% 53.06% at 16.69% 86.5%, #252525 99.99%, #080808e3 100%), #090909;
        // --color-background-radial-blk:  radial-gradient(79.6% 79.6% at 0% 20.4%, #1f1f1f 0%, #080808e3 100%), #090909;