:root {
    //BACKGROUNDS
        --color-background-white: #FDFDFD;
        --color-background-black: #090909; 
  
    //TEXT
        --color-text-white: #FDFDFD;
        --color-text-grey: #CDCDCD;
        --color-text-black: #090909;
    
    //BUTTONS
        --color-background-btnblack: #000000;
        --color-background-btnwhite: #FFFFFF;
        --color-text-btnwhite: #FFFFFF;
        --color-text-btnblack: #000000;
    }