.headerContainer {
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 7;
}

.navigation {
    
    &__listWrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-nav {
            display: flex;
            justify-content: center;
            margin-right: 1.75rem;
            background: #FDFDFD;
            border-radius: 1.5px;
            color: black;
            width: 7.5rem;
            z-index: 100;
        }
    }
}

.navigation__listWrapper > a::after {
    position: absolute;
    top: .36rem;
    content: '';
    background: #F32B98;
    height: 2.5rem;
    width: 8.15rem;
    z-index: -1;
}

.navigation__listWrapper-nav:hover {
    background: #fdfdfd;
    color: #000000;
    transform: scale(1.5);
    transform: translateX(.10rem) translateY(.5rem);
} 

.navigation__listWrapper-nav:active {
    transform: scale(.95);
}