.headerContainer { // Header container 
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 8;
}

.navigation { // Nav wrap
    
    &__listWrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-nav {
            display: inline;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            margin-right: 3rem;
            padding: .15rem; // Too much padding creates weird line on about

            background: linear-gradient(to right, #090909 50%, #FDFDFD 50%);    background-size: 300% 100%;
            background-position: left bottom;
            transition: all ease-in-out .45s;
        }

        &-nav:hover {
            background-position: right bottom;
        }
    }
}

.navigation__listWrapper > li:after{ // Nav animation 
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -1px;
    background: #fdfdfd;
    height: 1.75px;
    width: 7rem;
    transition-property: left right;
    transition-duration: .75s;
    transition-timing-function: ease-in-out;
    z-index: 100;
}

.navigation__listWrapper-nav:focus,
.navigation__listWrapper-nav:active {
    transform: scale(.95);
}
