
//ABSTRACTS
@import "sass/abstracts/variables.scss";
@import "sass/abstracts/mixins.scss";
@import "sass/abstracts/utilities.scss";
@import "sass/abstracts/components.scss";

//BASE
@import "sass/base/reset.scss";
@import "sass/base/typography.scss";

//NAVIGATION
@import "sass/layout/navigation.scss";

//PAGES
@import "sass/pages/index.scss";
@import "sass/pages/skills.scss";
@import "sass/pages/about.scss";
@import "sass/pages/contact.scss";
@import "sass/pages/footer.scss";

//MEDIAQUERIES
@import "sass/mediaQueries/aboutMediaQueries.scss";
@import "sass/mediaQueries/contactMediaQueries.scss";
@import "sass/mediaQueries/indexMediaQueries.scss";
@import "sass/mediaQueries/skillsMediaQueries.scss";