//Colors

//Nav Menu
.navFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .04em;
    
    transition: all ease-in-out .45s;
}

.navFont:hover {
    width: 8rem;
}

//Headings
.indexXlrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}

.indexLrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}

.skillsLrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7.2rem;
    letter-spacing: .01em;
    color: var(--color-text-black);
}

.skillsSubHeading {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-white);
}

.contactHeading {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 7.2rem;
    letter-spacing: .04em;
    color: #fdfdfd
}

.contactFontSml {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .06em;
    color: #fdfdfd;
}

.formFont {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: .02em;
    color:  #080808;
}

//Index Font
.indexDescriptionFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: .08em;
    line-height: 26px;
    color: var(--color-text-grey);
}

.indexContactFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: .04em;
    color: var(--color-text-grey);
}

.indexContactFont:active {
    font-size: 1.7rem;
}

//Projects Hover Title
.hoverTitleFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

.hoverIconFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}