
// Landing section
.indexXlrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}

.indexLrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}
// Skills section
.skillsLrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7.2rem;
    letter-spacing: .01em;
    color: var(--color-text-black);
}

.skillsSubHeading {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-white);
}
// About section
.aboutHeading {
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 7.2rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

.traitFont {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: .02em;
    color: var(--color-text-white);
}

.aboutContent {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.9rem;
    letter-spacing: .05em;
    line-height: 26px;
    color: var(--color-text-white);
}

.aboutLinks {
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: .02em;
    color: var(--color-text-grey);
}
// Contact section
.contactHeading {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 7.2rem;
    letter-spacing: .04em;
    color: #fdfdfd;

}

.contactFontSml {
    font-family: 'Roboto', sans-serif; 
    font-weight: 200;
    font-size: 1.65rem;
    letter-spacing: .06em;
    color: #fdfdfd;
}

.formFont {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: .02em;
    color:  #080808;
}

//Index Font
.indexDescriptionFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .08em;
    line-height: 26px;
    color: var(--color-text-grey);
}

.contactFont { // Email
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .04em;
    color: var(--color-text-grey);
}

//Projects Hover Title
.hoverTitleFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: .04em;
    margin-bottom: 1rem;
    color: var(--color-text-white);
}

.hoverIconFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

.hoverIconFont:hover {
    text-decoration: underline solid 1.5px #fdfdfd;
}

//Nav Menu
.navFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

.navFont:hover {
    color: #000;
}

.navFontMobile {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.75rem;
    letter-spacing: .04em;
    color: var(--color-text-black);
}

.resumeFontMobileNav {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.75rem;
    letter-spacing: .04em;
    color: #555555;
}

//Button
.btnTxt {
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

// Success page
.successFont {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    letter-spacing: .04em;
    color: var(--color-text-black);
}

.thanksFont {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: .04em;
    opacity: .80;
    color: var(--color-text-black);
}

.homeBtnFont {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

// -- Media Queries --

@media screen and (max-width: 1366px) {
    .skillsLrgHeading {
        font-size: 5.8rem;
    }

    .contactHeading {
        font-size: 6.8rem;
    }

    .formFont {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 854px) {
    .skillsLrgHeading {
        font-size: 5.2rem;
    }

    .aboutContent {
        font-size: 1.85rem;
    }

    .formFont {
        font-size: 1rem;
    }
}

@media only screen 
  and (max-width: 854px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .skillsLrgHeading {
        font-size: 5.75rem;
    }
}

@media only screen 
  and (max-width: 767px)
  and (orientation: portrait) {
    .hoverTitleFont {
        margin-bottom: 1rem;
    }

    .skillsLrgHeading {
        font-size: 4.5rem;
    }

    .contactHeading {
        margin-left: .5rem;
    }
}

@media only screen 
    and (max-width: 280px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .skillsLrgHeading {
            font-size: 4rem;
        }
}