//Colors

//Nav Menu
.navFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .04em;
    
    transition: all ease-in-out .45s;
}

.navFont:hover {
    width: 8rem;
}

//Headings
.indexXlrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}

.indexLrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}

.skillsLrgHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7.2rem;
    letter-spacing: .01em;
    color: var(--color-text-white);
}

.skillsSubHeading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: .5rem;
    font-size: 1.65rem;
    letter-spacing: .04em;
    color: #070707;
}

//Index Font
.indexDescriptionFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: .08em;
    line-height: 26px;
    color: var(--color-text-grey);
}

.indexContactFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: .04em;
    color: var(--color-text-grey);
}

//Projects Hover Title
.hoverTitleFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}

.hoverIconFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}