// Right section
.rightWrapper {
    grid-row: 7 / 8;
    grid-column: 14 / -1;

    &__pink {
        height: 100%;
        width: 100%;
        margin-left: 1rem;
        border: solid 2px var(--color-background-pink);
    }

    &__blue {
        position: relative;
        height: 100%;
        width: 100%;
        border: 2px solid var(--color-background-blue);
        left: -4rem;
        top: 4rem;
    }
}

.traitsWrapper { // Right section wrap
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    &__dev {
        margin-left: 15%;
    }

    &__create {
        margin-left: 35%;
    }

    &__innovate {
        margin-left: 55%;
    }
}
// Left section
.leftWrapper {
    grid-row: 7 / 8;
    grid-column: 2 / 14;
}

.aboutHeadingWrap { // Heading
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8.15rem 0 0 -8%;

    &__line {
        display: block;
        height: 2px;
        width: 8%;
        background: #FDFDFD;
    }

    &__heading {
        display: block;
    }
}

.aboutContent { // Summary
    display: block;
    margin: 5rem 15rem auto 0;
}
// Links
.aboutLinksWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    width: 20rem;
    margin: 41% 59% 0 auto;
}
// Animation right section
.slide-left {
    opacity: 0;
    -webkit-transform: translateX(120%);
         -moz-transform: translateX(120%);
            -ms-transform: translateX(120%);
             -o-transform: translateX(120%);
                    transform: translateX(120%);
    -webkit-transition: all 1.10s ease-out;
         -moz-transition: all 1.10s ease-out;
            -ms-transition: all 1.10s ease-out;
             -o-transition: all 1.10s ease-out;
                    transition: all 1.10s ease-out;
}
.slide-left.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
// Animation left section
#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
