
.traitFont {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: .02em;
    color: var(--color-text-white);
}

.aboutHeading {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 7.2rem;
    letter-spacing: .04em;
    color: var(--color-text-white);
}


.rightWrapper {
    grid-row: 7 / 8;
    grid-column: 14 / -1;

    &__pink {
        height: 100%;
        width: 100%;
        background: rgba(242, 13, 137, 1);
    }

    &__blue {
        height: 98%;
        width: 95%;
        background: rgba(22, 136, 241, 1);
    }
}

.traitsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    &__dev {
        margin-left: 10%;
    }

    &__create {
        margin-left: 35%;
    }

    &__innovate {
        margin-left: 60%;
    }
}

.leftWrapper {
    grid-row: 7 / 8;
    grid-column: 2 / 14;
}

.aboutHeadingWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8.15rem 0 0 -8%;

    &__line {
        display: block;
        height: 2px;
        width: 8%;
        background: #FDFDFD;
    }

    &__heading {
        display: block;
    }
}

.aboutContent {
    display: block;
    margin: 5rem 15rem auto 0;
}

.aboutLinksWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    width: 20rem;
    margin: 41% 50% 0 auto;
}

.slide-left {
    opacity: 0;
    -webkit-transform: translateX(120%);
         -moz-transform: translateX(120%);
            -ms-transform: translateX(120%);
             -o-transform: translateX(120%);
                    transform: translateX(120%);
    -webkit-transition: all 1.10s ease-out;
         -moz-transition: all 1.10s ease-out;
            -ms-transition: all 1.10s ease-out;
             -o-transition: all 1.10s ease-out;
                    transition: all 1.10s ease-out;
}
.slide-left.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}


#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

// OLD ABOUT SECTION
// .aboutContainer { // About Container 
//     display: flex;
//     flex-direction: column;
//     grid-row: 7 / 8;
//     grid-column: full-start / full-end;
// }

// .about-headingWrapper { // Heading wrap
//     position: relative;
//     writing-mode: vertical-rl;

//     &__heading {
//         position: absolute;
//         left: 1rem;
//         top: 35rem;
//         margin-left: .75rem;
//     }
// }

