.contactContainer {
    display: flex;
    flex-direction: row;
    background: var(--color-background-black);
    grid-row: 7 / 8;
    grid-column: 3 / -1;
}

.leftContent {
    display: flex;
    height: 100%;
    width: 45rem;
    flex-direction: column;
    justify-content: space-between;
    
    &__innerBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6.5rem;
        margin-bottom: 2.5rem;
    }
}

.contactArrow {
    display: block;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    background: var(--color-background-white);
    height: 100%;
    width: 60%;
    margin-left: auto;
}

.inputWrapperTop {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70rem;
    margin: 16.5rem 0 15rem 8rem;

    &__name {

        &-underline {
            width: 37%;
        }
    }

    &__email {
        margin-left: 6rem;

        &-underline {
            width: 37%;
            right: 7rem;
        }
    }
}

.inputWrapperTop > input {
    width: 80%;
}

.underline {
    position: absolute;
    height: 1.5px;
    bottom: -1.5rem;
    background: #000;
}

.inputWrapperMsg {
    display: block;
    margin: 0 auto 0 auto;
    height: 26rem;
    width: 67rem;
    border: solid 1.75px #000;

    &__msg {
        padding: 1rem;
        width: inherit;
        height: inherit;
    }
}

