.contactContainer {
    display: flex;
    flex-direction: row;
    background: var(--color-background-black);
    grid-row: 9 / 10;
    grid-column: 3 / -1;
}

.leftContent { // Left side of contact section
    display: flex;
    height: 100%;
    width: 45rem;
    flex-direction: column;
    justify-content: space-between;
    
    &__innerBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6.5rem;
        margin-bottom: 2.5rem;
    }
}

.slide-right { // Contact text slide in 
    width: 100%;
    overflow: hidden;
    transform: translateX(-120%);
  }


.textReveal {
    animation: 1.05s slide-right 1.05s forwards;
}

@keyframes slide-right {
    to {
        transform: translateX(0%);
    }
}

.contactArrow { // Arrow
    display: block;
    position: absolute;
    left: 13rem;
}

.showArrow { // Arrow animation
    animation-name:arrow;
    animation-duration:1.5s;
    animation-timing-function:ease-out;
    animation-delay:.25s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

    -webkit-animation-name:arrow;
        -webkit-animation-duration:1.5s;
            -webkit-animation-timing-function:ease-out;
                -webkit-animation-delay:.25s;
                    -webkit-animation-iteration-count:infinite;
                        -webkit-animation-direction:normal;
                            -webkit-animation-play-state:running;
                                -webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes arrow {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-15px);
    }
}

@-webkit-keyframes arrow {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-15px);
    }
}

.formWrapper { // Form 
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-background-white);
    height: 100%;
    width: 60%;
    margin-left: auto;
}

.inputWrapperTop {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70rem;
    margin: 16.5rem 0 15rem 8rem;

    &__name {

        &-underline {
            width: 37%;
        }
    }

    &__email {
        margin-left: 10rem;

        &-underline {
            width: 37%;
            right: 7rem;
        }
    }
}

.inputWrapperTop > input {
    width: 27rem;
}

.underline {
    position: absolute;
    height: 1.5px;
    bottom: -1.5rem;
    background: #000;
}

.inputWrapperMsg {
    display: block;
    margin: 0 auto 0 auto;
    height: 26rem;
    width: 67rem;
    border: solid 1.75px #000;

    &__msg {
        padding: 1rem;
        width: inherit;
        height: inherit;
    }
}
