.contactContainer {
    display: flex;
    flex-direction: row;
    background: var(--color-background-black);
    grid-row: 9 / 10;
    grid-column: 3 / -1;
}
// Left side of contact section
.leftContent { 
    display: flex;
    height: 100%;
    width: 45rem;
    flex-direction: column;
    justify-content: space-between;

    &__innerTop {
        pointer-events: none;
    }
        
    
    &__innerBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6.5rem;
        margin-bottom: 2.5rem;
    }
}
// Contact text slide in 
.slide-right { 
    width: 100%;
    overflow: hidden;
    transform: translateX(-120%);
  }


.textReveal {
    animation: 1s slide-right 1s forwards;
}

@keyframes slide-right {
    to {
        transform: translateX(0%);
    }
}

.contactArrowTablet {
    display: none;
}
// Arrow
.contactArrow { 
    display: block;
    position: absolute;
    left: 8%;
}
// Arrow animation
.showArrow { 
    animation-name:arrow;
    animation-duration:1.5s;
    animation-timing-function:ease-out;
    animation-delay:.25s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

    -webkit-animation-name:arrow;
        -webkit-animation-duration:1.5s;
            -webkit-animation-timing-function:ease-out;
                -webkit-animation-delay:.25s;
                    -webkit-animation-iteration-count:infinite;
                        -webkit-animation-direction:normal;
                            -webkit-animation-play-state:running;
                                -webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes arrow {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-15px);
    }
}

@-webkit-keyframes arrow {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-15px);
    }
}
// Form 
.formWrapper { 
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-background-white);
    height: 100%;
    width: 60%;
    margin-left: auto;
}

.inputWrapperTop {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    max-width: 70rem;
    margin: 16.5rem 8rem 15rem 8rem;
}

.flexWrapperName {
    position: relative;
    display: flex;
    width: 41%;
    height: 2rem;


    &__name {
        width: 100%;
        margin-bottom: .35rem;
    }
}

.flexWrapperEmail {
    position: relative;
    display: flex;
    width: 41%;
    height: 2rem;


    &__email {
        width: 100%;
        margin-bottom: .35rem;
    }
}
// Underline under text box
.flexWrapperName:after,
.flexWrapperEmail:after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: .25px;
    background: #090909;
    height: 1px;
    width: 100%;
    z-index: 100;
}

.flexWrapperName > input:active,
.flexWrapperName > input:focus,
.flexWrapperEmail > input:active,
.flexWrapperEmail > input:focus {
    background: #000;
    color: #fdfdfd;
    padding: 1rem;
    border-top: solid 1.75px var(--color-background-blue);
    border-right: solid 1.75px var(--color-background-blue);
    border-left: solid 1.75px var(--color-background-blue);
    border-bottom: none;
}

.inputWrapperMsg {
    display: block;
    margin: 0 auto 0 auto;
    height: 26rem;
    width: 90%;
    max-width: 67rem;
    border: solid 1.75px #000;

    &__msg {
        padding: 1rem;
        width: 100%;
        height: 100%;
        resize: none;
    }
}

.inputWrapperMsg__msg:active,
.inputWrapperMsg__msg:focus {
    background: #000;
    color: #fdfdfd;
    padding: 1rem;
    border: solid 1.75px var(--color-background-blue);
}



