.gridContainer { // Main grid 
    display: grid;
    background: var(--color-background-black);
    grid-template-rows: minmax(auto, 10vh) minmax(auto, 80vh) minmax(auto, 10vh) minmax(auto, 20vh) minmax(auto, 62rem) minmax(auto, 50vh) minmax(auto, 74rem) minmax(auto, 50vh) minmax(auto, 74rem) minmax(auto, 7rem);
    // grid-template-rows: minmax(auto, 10vh) minmax(60rem, 70vh) minmax(auto, 20vh) minmax(auto, 62rem) minmax(auto, 50vh) minmax(auto, 74rem) minmax(auto, 50vh) minmax(auto, 74rem) minmax(auto, 7rem);
    grid-template-columns: [full-start] repeat(28, [col-start] 1fr [col-end]) [full-end];
}

// Landing page -------------------------------------------------



.leftColContainer { // Left col container
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / 11;
}

.linksContainer { // Left col wrap > links
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 3.7rem;
    width: 8rem;
}

.projectsContainer { // Right col container 
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 13 / -1;

    overflow-x: auto;
    -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overscroll-behavior: contain;
}

.projectsContainer > .projectsWrapper img {
    touch-action: pan-down;
}

.projectsContainer::-webkit-scrollbar { 
    display: none; 
}

.projectsContainer {
    scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
}

.botRowContainer { // Email wrap
    display: flex;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 2 / 11;
}