.gridContainer { // Main grid 2nd row 80vh
    display: grid;
    background: var(--color-background-radial-blk);
    background-repeat: no-repeat;  
    grid-template-rows: minmax(auto, 10vh) minmax(auto, 56rem) minmax(auto, 10vh) minmax(auto, 20vh) minmax(auto, 62rem) minmax(auto, 100vh) minmax(auto, 74rem) minmax(auto, 50vh) minmax(auto, 74rem) minmax(auto, 9rem);
    grid-template-columns: [full-start] repeat(28, [col-start] 1fr [col-end]) [full-end];
    max-width: 3100px;
    margin: auto;
    overflow-y: hidden !important; // fix for scrolling bug mobile
}

// Landing page -------------------------------------------------

.leftColContainer { // Left col container
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / 11;
    max-width: 700px; // 4k
}

.linksContainer { // Left col wrap > links
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 3.7rem;
    width: 8rem;
}

// Projects Mobile

.projectsContainerTablet {
    display: none;
}

.projectsWrapperMobileOne,
.projectsWrapperMobileTwo,
.projectsWrapperMobileThree {
    display: none;
}

.projectsWrapperMobile { // Mobile animation
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all .65s ease-in-out;
         -moz-transition: all .65s ease-in-out;
            -ms-transition: all .65s ease-in-out;
             -o-transition: all .65s ease-in-out;
                    transition: all .65s ease-in-out;
}

.projectsWrapperMobile.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

// Projects Desktop

.projectsContainer { // Right col container 
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 13 / -1;

    overflow-x: auto;
    -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overscroll-behavior: contain;
}

.projectsContainer > .projectsWrapper img {
    touch-action: pan-down;
    box-shadow: 
    2px 2px 18px 2px #c7c7c70d, 
    2px 2px 18px 2px #bebebe0d;
}

.projectsContainer::-webkit-scrollbar { 
    display: none; 
}

.projectsContainer {
    scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
}

.botRowContainer { // Email wrap
    display: flex;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 2 / 11;
}
