.indexContainer {
    display: grid;
    background: var(--color-background-black);
    grid-template-rows: minmax(auto, 10vh) minmax(auto, 80vh) minmax(auto, 10vh);
    grid-template-columns: [full-start] repeat(28, [col-start] 1fr [col-end]) [full-end];
}

.mainRowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / 11;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 3.7rem;
    width: 8rem;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 13 / -1;

    overflow-x: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overscroll-behavior: contain;
}

.projectsContainer > .projectsWrapper img {
    touch-action: pan-down;
}

.projectsContainer::-webkit-scrollbar { 
    display: none; 
}

.botRowContainer {
    display: flex;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 2 / 11;
}