// Lightbulb
.bulbContainer {
    grid-row: 6 / 7;
    grid-column: full-start / full-end;
    padding: 15rem 0 75rem 0;

    pointer-events: none;
}
// Lightbulb wrap
.bulbWrapper { 
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;

    transform: translateX(50%);
    transform: rotate(91deg);
    transition: opacity ease-in 1.5s;
    opacity: 0;
    animation-duration: 25s; 
    animation-fill-mode: both; 
    -webkit-animation-duration: 25s; 
        -webkit-animation-fill-mode: both; 

    &__bulb { // Lightbulb
        position: absolute;
        top: 0;
        left: 45%;
        display: inline-block;
        z-index: 100;
    }

    &__blur { // Lightbulb background
        position: absolute;
        top: 7.5rem;
        display: inline-block;
        height: 35rem;
        width: 45rem;
        border-radius: 50%;
        background: var(--color-background-green);
        filter:blur(80px); // Safari
            -o-filter:blur(100px);
                -ms-filter:blur(100px);
                    -moz-filter:blur(100px);
                        -webkit-filter:blur(60px); // Safari
        z-index: -1;
    }
}
// Skills container fade in 
.show-bulb { 
    opacity: 1;
}
// Lightbulb swinging animation
.swing { 
    animation-name: swing; 
        -webkit-animation-name: swing; 
}

@keyframes swing { // Lightbulb
    2% { transform: rotate(90deg); } 
   20% { transform: rotate(-70deg); } 
   40% { transform: rotate(65deg); } 
   60% { transform: rotate(-35deg); } 
   80% { transform: rotate(10deg); }
   100%{ transform: rotate(0deg); } 
}

@-webkit-keyframes swing { // Lightbulb
    2%  { -webkit-transform: rotate(90deg); }
    20% { -webkit-transform: rotate(-70deg); } 
    40% { -webkit-transform: rotate(65deg); } 
    60% { -webkit-transform: rotate(-35deg); } 
    80% { -webkit-transform: rotate(10deg); } 
    100%{ -webkit-transform: rotate(0deg); } 
}

@media screen and (max-width: 1366px) {
    .bulbContainer {
        padding: 0;
    }

    .bulbWrapper {
        display: none;
    }
}

@media screen and (min-width: 3000px) {
    .bulbWrapper__bulb {
        left: 47%;
    }
}
