.skillsContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  grid-row: 5 / 6;
  grid-column: full-start / full-end;
  background: var(--color-background-white);
  transition: opacity ease-in-out 1s;
  z-index: 09;
  
  opacity: 0;
  // overflow-y: hidden; // test scrolling bug mobile
}
// Skills container fade in 
.show { 
  opacity: 1;
}
// Flamingo Wrap
.flamingoContainer { 
  position: absolute;
  right: 2rem;
  bottom: 0rem;

  pointer-events: none;
  // overflow-y: hidden; // test scrolling bug mobile

  &__flamingo-mobile {
    display: none;
    pointer-events: none;
  }

  &__flamingo { // Flamingo
      display: block;
      z-index: 1;
  }
}
// Left section of skills
.cardContainer { 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-background-pink);
  height: 100%;
  width: 60%;
  z-index: 10;
}

.headingWrapper {
  position: absolute;
  top: .5rem;
  right: -45.5rem;
  pointer-events: none;
}
// Card component wrapper
.cardRowWrapper { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 45rem;
  height: 35rem;
  perspective: 800px;
  z-index: 100;
  // overflow-y: hidden; // test scrolling bug mobile
}
// .cardRowWrapper > * {
//   overflow-y: hidden; // test scrolling bug mobile
// }
// Card component circle
.card__inner { 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background: var(--color-background-white);
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
  position: relative;
  // overflow-y: hidden; // test scrolling bug mobile
}
// Card component
.card__face { 
  position: absolute;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
          -o-backface-visibility: hidden;
  overflow: hidden;
  // overflow-y: hidden;
}
// Card front 
.card__face-front { 
  display: flex;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
  // overflow-y: hidden; // test scrolling bug mobile

  &--mobile {
    display: none;
  }

  &--img {
    display: block !important;
    z-index: 100;
  }
}


.card__face-back { // Card back 
  display: block;
  transform: rotateY(-180deg);
}

.card__inner.is-flipped { // Card rotate
  transform: rotateY(180deg);
  background: #090909;
}
// Left section animation  
.revealed { 
  animation-name: wipe-in-bottom-right;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;    
  animation-play-state: running;

  -webkit-animation-name: wipe-in-bottom-right;
    -webkit-animation-duration: 3s;
      -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;    
          -webkit-animation-play-state: running;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

[transition-style="in:wipe:bottom-right"] {
  animation: 3s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
}

@-webkit-keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}
  
[transition-style="in:wipe:bottom-right"] {
  animation: 3s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
}
