
.skillsContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    background: var(--color-background-white);
    // grid-template-columns: [full-start] repeat(9, [col-start] 1fr [col-end]) [full-end];
}

.flamingoContainer {
    position: absolute;
    right: 2rem;
    bottom: -.25rem;

    &__flamingo {
        display: block;
        z-index: 1;
    }
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-background-pink);
    height: 100%;
    width: 60%;
}

.headingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10rem;
}

.cardRowWrapper { //RowWrapper  CARD
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 45rem;
    height: 35rem;
    perspective: 800px;
    z-index: 100;
}

.card__inner { //Skills circle
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background: var(--color-background-white);
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
    background: #090909;
}

.card__face {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--back {
    transform: rotateY(180deg);
}

.skillsCurvedLine {
    display: block;
    margin-top: .5rem;
}


