// IPad Pro
// Portrait 
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .leftWrapper {
        grid-row: 13 / 14;
        grid-column: 3 / 11;
    }

    .aboutContent {
        display: block;
        margin: 5rem 10rem auto 0;
    }

    .aboutLinksWrap {
        margin: 11% 55% 0 auto;
    }

    .rightWrapper {
        grid-row: 13 / 14;
        grid-column: 11 / -1;
    }
  }

@media screen and (max-width: 1023px) {
    .rightWrapper {
        grid-row: 12 / 13;
        grid-column: full-start / full-end;
    }

    .leftWrapper {
        grid-row: 13 / 14;
        grid-column: 3 / 18;
        margin: 8rem 0 0 0;
    }

    .aboutHeadingWrap {
        margin: 7rem 0 0 -8%;
    }

    .aboutContent {
        display: block;
        margin: 5rem 0 auto 0;
    }

    .aboutLinksWrap {
        width: 30rem;
        margin: 20% 0 0 auto;
        grid-column: 14 / -1;
    }
    
    .traitsWrapper {
        height: 80%;
    }

    .traitsWrapper__little-dipper {
        top: 4.5rem;
        right: -10rem;
        height: 40rem;
    }
}

@media screen and (max-width: 854px) {
    .rightWrapper__pink {
        margin-left: 0;
        border: none;
        background: var(--color-background-pink);
    }

    .rightWrapper__blue {
        border: none;
        top: 2rem;
    }

    .traitsWrapper {
        height: 80%;
    }

    .traitsWrapper__dev {
        margin-left: 20%;
    }

    .traitsWrapper__create {
        margin-left: 35%;
    }

    .traitsWrapper__innovate {
        margin-left: 50%;
    }

    .aboutHeadingWrap {
        margin: 2rem 0 0 -8%;
    }
}

@media only screen 
    and (max-width: 854px)
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
    
        .traitsWrapper__create {
            margin-left: 40%;
        }
    
        .traitsWrapper__innovate {
            margin-left: 60%;
        }
    }

@media only screen 
    and (max-width: 568px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .traitsWrapper__little-dipper {
            top: -5rem;
            right: -10rem;
            height: 40rem;
        }
    }

@media screen and (max-width: 414px) {
    .leftWrapper {
        margin: 18rem 0 0 0;
    }

    .traitsWrapper__little-dipper {
        top: -7.5rem;
        right: -20rem;
        height: 47rem;
    }

    .aboutHeadingWrap__line {
        width: 15%;
    }

    .aboutHeadingWrap__bard-small {
        left: -4rem;
    }

    .aboutLinksWrap {
        margin: 20% 0 0 0;
    }
}

@media only screen 
    and (max-width: 320px)
    and (-webkit-min-device-pixel-ratio: 1.5) {
    .traitsWrapper__little-dipper {
        top: -5rem;
        right: -20rem;
        height: 40rem;
    }

    .traitsWrapper__dev {
        margin-left: 15%;
    }

    .traitsWrapper__create {
        margin-left: 29%;
    }

    .traitsWrapper__innovate {
        margin-left: 44%;
    }
}
