// 1140px
@media screen and (max-width: 1366px) {
    body {
        overflow-x: hidden;
    }

    .gridContainer { // Main grid 
        grid-template-rows: minmax(auto, 10vh) minmax(auto, 53rem) minmax(auto, 10vh) minmax(auto, 10vh) minmax(auto, 62rem) minmax(auto, 30vh) minmax(auto, 74rem) minmax(auto, 30vh) minmax(auto, 74rem) minmax(auto, 7rem);
        grid-template-columns: [full-start] auto repeat(auto, [col-start] minmax(1fr, max-content)[col-end]) auto [full-end];
    }

    .headerContainer {
        grid-column: 2 / 8;
        margin-left: 2rem;
    }

    .leftColContainer {
        grid-column: 2 / 12;
        margin-left: 2rem;
    }
    
    .lineContainer {
        margin-left: 1rem;
    }

    .projectsWrapper {
        min-height: 350px;
        min-width: 350px;
    }

    .projectsWrapper > img {
        height: 350px;
        width: 350px;
    }

    .projectsWrapper:hover {
        transform: scale(1.15);
    }

    // Projects Mobile

    .projectsContainer {
        display: none;
    }

    .projectsContainerMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-row: 2 / 3;
        grid-column: 14 / -1;
    
        overflow-x: auto;
        -ms-overflow-style: none;
            -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        overscroll-behavior: contain;
    }

    .projectsContainerMobile > .projectsWrapper img {
        touch-action: pan-down;
    }

    .projectsContainerMobile::-webkit-scrollbar { 
        display: none; 
    }
    
    .projectsContainerMobile {
        scrollbar-width: none;  /* Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
    }

    .projectsWrapperMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flexWrapperRowMobile {
        margin-top: 1.5rem;
    }

    .flexWrapperRowMobile > a:nth-child(1) {
        margin-right: 2rem;
    }

    .botRowContainer {
        margin-left: 2rem;
    }
}

// IPad Pro
// Portrait 
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    @include tablet-media-query();
}

@media screen and (max-width: 1023px) {
    @include tablet-media-query();

    .cardRowWrapper {
        width: 35rem;
        height: 45rem;
    }
}

// Phones 799px 854px
@media screen and (max-width: 854px) {
    body {
        overflow-x: hidden;
    }

    .gridContainer { // Main grid 
        grid-template-rows: minmax(auto, 10vh) repeat(2, minmax(auto, 17rem)) minmax(auto, 5rem) repeat(3, minmax(auto, 50rem)) minmax(auto, 10vh) minmax(auto, 62rem) minmax(auto, 10vh) minmax(auto, 25vh) minmax(auto, 74rem) minmax(auto, 30vh) minmax(auto, 74rem) minmax(auto, 7rem);
        grid-template-columns:[full-start] auto repeat(18, [col-start] minmax(min-content, 1fr) [col-end]) auto [full-end];
    }

    .projectsWrapper {
        height: 350px;
        width: 350px;
    }

    .projectsWrapper > img {
        height: 350px;
        width: 350px;
    }

    .headerContainer {
        display: none;
    }

    .leftColContainer {
        grid-column: 2 / 18;
        margin-left: 1rem;
    }

    .linksContainer {
        align-items: center;
        margin-top: 3.5rem;
        margin-left: -.25rem;
        width: fit-content;
    }

    .linksContainer > a {
        margin-right: 1rem;
    }

    .botRowContainer {
        display: none;
    }

    .emailWrapperMobile {
        display: inline-block;
    }

    .lineContainer__line {
        margin-bottom: 3rem;
    }

    // Bulb
    .bulbWrapper__blur {
        top: 6.85rem;
        height: 45rem;
        width: 55rem;
    }

    // About section 
    .bulbWrapper__bulb {
        left: auto; 
    }
}

@media only screen 
  and (max-width: 854px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .gridContainer { // Main grid 
        grid-template-rows: minmax(auto, 10vh) repeat(2, minmax(auto, 17rem)) minmax(auto, 5rem) repeat(3, minmax(auto, 60rem)) minmax(auto, 10vh) minmax(auto, 62rem) minmax(auto, 10vh) minmax(auto, 25vh) minmax(auto, 74rem) minmax(auto, 30vh) minmax(auto, 45rem) minmax(auto, 7rem);
        grid-template-columns:[full-start] auto repeat(18, [col-start] minmax(min-content, 1fr) [col-end]) auto [full-end];
    }

    .projectsWrapper {
        height: 400px;
        width: 400px;
    }

    .projectsWrapper > img {
        height: 400px;
        width: 400px;
    }

    .leftColContainer {
        grid-column: 2 / 17;
    }

    .inputWrapperMsg {
        width: 80%;
    }
}

// and (-webkit-min-device-pixel-ratio: 1.5) 799px row 13 / 14
@media only screen 
  and (max-width: 767px)
  and (orientation: portrait) {
    .gridContainer { // Main grid 
        grid-template-rows: minmax(auto, 10vh) repeat(2, minmax(auto, 17rem)) minmax(auto, 5rem) repeat(3, minmax(auto, 55rem)) minmax(auto, 10vh) minmax(auto, 62rem) minmax(auto, 10vh) minmax(auto, 25vh) minmax(auto, 74rem) minmax(auto, 30vh) minmax(auto, 55rem) minmax(auto, 7rem);
        grid-template-columns:[full-start] auto repeat(18, [col-start] minmax(min-content, 1fr) [col-end]) auto [full-end];
    }
}

@media only screen 
    and (max-width: 320px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .projectsWrapper > img {
            height: 300px;
            width: 300px;
        }
}

@media only screen 
    and (max-width: 280px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .leftColContainer {
            grid-column: 2 / -1;
            margin-left: .5rem;
        }

        .projectsWrapper > img {
            height: 300px;
            width: 270px;
        }
}
