@media screen and (max-width: 854px) {
    
    //Burger Button Default State
    .burger {
        cursor: pointer;
        height: 2.5rem;
        margin: 2rem 2rem auto auto;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;

        &__1 {
            width: 3rem;
        }

        &__2 {
            width: 2rem;
        }

        &__3 {
            width: 3rem;
        }
    }

    .burgerLine {
        background-color: var(--color-background-green);
        height: 2.5px;
        margin: 4px 0;

        transition: .5s ease-in-out;
    }

    //Burger Button Transition Animation
    .burger__1.open {
        background: var(--color-background-drkblue);
        transform: rotate(360deg);
    }

    .burger__2.open {
        transform: translateX(10px);
    }

    .burger__3.open {
        background: var(--color-background-drkblue);
        transform: rotate(-360deg);
    }

    //Mobile navigation menu
    .navigation {
        display: none;
    }

    .headerContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 6rem;
        background: #0b0a16;
        box-shadow: 0px 1px 5px var(--color-background-green);
        opacity: .85;
        z-index: 1000;
    }

    .headerContainer.active {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(-65deg, var(--color-background-green), var(--color-background-drkblue));
        text-align: center;
        opacity: 1;
        z-index: 1000;
    }

    .navigation-mobile.active {
        width: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(-65deg, var(--color-background-green), var(--color-background-drkblue));
        text-align: center;

        z-index: 1000;
    }

    .listWrapper-mobile {
        display: flex;
        height: 21rem;
        flex-direction: column;
        justify-content: space-between;
        margin-top: auto;
        width: 90%;
    }

    //Line Break
    .lineBreakNavMenu {
        display: block;
        height: 1.5px;
        width: 25rem;
        margin: 2rem auto;
        background: #0E0D1B;
        opacity: .25;
        z-index: -100;
    }

    .resume-mobile {
        display: block;
    }
}