// IPad Pro
// Portrait 
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .skillsContainer {
        grid-row: 10 / 11;
    }
}

@media screen and (max-width: 1023px) {
    .skillsContainer {
        grid-row: 10 / 11;
        margin: -1rem 0 -1rem 0;
    }

    .cardRowWrapper {
        width: 35rem;
        height: 45rem;
    }
}

// 1140px
@media screen and (max-width: 1366px) {
    .headingWrapper {
        right: -36.5rem;
    }

    .cardContainer {
        width: 50%;
    }
}

// Phones 799px 854px
@media screen and (max-width: 854px) {
    .headingWrapper {
        text-align: right;
        right: -16.5rem;
        width: 40rem;
        top: .85rem;
    }

    .card__face-front > object {
        display: none;
    }

    .card__face-front--mobile {
        display: block;
    }

    .cardContainer {
        width: 52.5%;
        
        pointer-events: none;
    }

    .cardRowWrapper {
        height: 40rem;
        width: 20rem;

        pointer-events: none;
    }

    .card__inner {
        height: 7.5rem;
        width: 7.5rem;
    }
}

@media only screen 
  and (max-width: 854px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .headingWrapper {
        right: -17.75rem;
    }
    
    .cardRowWrapper {
        width: 27rem;
    }

    .card__inner {
        height: 10rem;
        width: 10rem;
    }
  }

@media only screen 
  and (max-width: 767px)
  and (orientation: portrait) {

    .cardRowWrapper {
        width: 17rem;
    }

    .imgContainer { // Monster Wrap
        right: 15rem;
        bottom: -.15rem;
    }

    .headingWrapper { // portrait
        right: -14rem;
        width: auto;
        width: 28rem;
    }
}

@media only screen 
    and (max-width: 360px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .imgContainer { // Monster Wrap
            right: 12rem;
        }
}

@media only screen 
    and (max-width: 280px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .headingWrapper {
            right: -12.5rem;
        }

        .cardRowWrapper {
            width: 15rem;
        }

        .card__inner {
            height: 7.35rem;
            width: 7.35rem;
        }

        .imgContainer {
            right: 10.5rem;
        }

        .traitsWrapper__create {
            margin-left: 25%;
        }

        .traitsWrapper__innovate {
            margin-left: 38%;
        }
}