.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row: 10 / 11;
    grid-column: full-start / full-end;
}

.footerLine {
    display: block;
    margin-top: .75rem;
    height: 1.5px;
    opacity: 50%;
    width: 100%;
    background: #fdfdfd;
}

.copyright {
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 1.65rem;
    letter-spacing: .02em;
    color: var(--color-text-white);
    margin-top: 1.5rem;
}

.chevronUp {
    margin-right: .5rem;
    font-family: 'Roboto', sans-serif; 
    font-size: 3rem;
    color: #fdfdfd;
    display: block;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;

    -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
}

.chevronUp:hover {
    opacity: .75;
}