
.successGridContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: minmax(auto, 70vh) minmax(auto, 30vh);
    grid-template-columns: [full-start] repeat(10, [col-start] 1fr [col-end]) [full-end];
}

.octopus {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    z-index: 10;
    height: 60rem;
    width: 60rem;
    margin: auto;
}

.successTextWrapper {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
    text-align: center;
    z-index: 100;
}

.homeBtn {
    display: block;
    cursor: pointer;
    background: #DD255C;
    width: 15rem;
    height: 3.5rem;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .octopus {
        height: 40rem;
        width: 40rem;
    }

    .successTextWrapper {
        height: 17rem;
        margin-bottom: 2.5rem;
    }

    .successFont {
        font-size: 3rem;
    }

    .thanksFont {
        font-size: 2.5rem;
    }

    .homeBtn {
        width: 12.5rem;
        height: 3.25rem;
        border-radius: 10px;
    }

    .homeBtnFont {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .octopus {
        height: 35rem;
        width: 35rem;
    }
} 

@media screen and (max-width: 300px) {
    .successGridContainer {
        grid-template-rows: minmax(auto, 60vh) minmax(auto, 40vh);
    }

    .octopus {
        height: 30rem;
        width: 30rem;
    }
}